html, body 
    margin: 0
    padding: 0
    height: 100%
body
    color: $font-color

a, button
    cursor: grab
    &:focus
        outline: none
    
#home-page-container
    font-family: $font-main
    padding: 0
    margin: 0 auto

#booking-page-container
    padding: 0
    margin: 0 auto

#contact-page-container
    padding: 0
    margin: 0 auto

.fade-in
    opacity: 0
.float-in
    opacity: 0
    position: relative
    top: 12px