html, body 
    margin: 0
    padding: 0
    height: 100%
body
    color: $font-color

a, button
    cursor: grab
    &:focus
        outline: none

.preload *
    -webkit-transition: none !important
    -moz-transition: none !important
    -ms-transition: none !important
    -o-transition: none !important
    transition: none !important
    
#home-page-container
    font-family: $font-main
    padding: 0
    margin: 0 auto

#booking-page-container
    padding: 0
    margin: 0 auto

#contact-page-container
    padding: 0
    margin: 0 auto

