// Home Page
#home-page-container
    .banner
        position: relative
        .banner-background
            width: 100%
            max-height: 830px
            pointer-events: none
        .banner-content
            position: absolute
            top: 25%
            left: 50%
            width: 100%
            -webkit-transform: translateX(-50%)
            transform: translateX(-50%)
            text-align: center
            h1
                +title-style()
                
                font-size: 2.75rem
                margin-bottom: 48px
                
                +breakpoint-mobile()
                    font-size: 1.4rem
                    margin-bottom: 35px
            .map-icon
                color: darken($accent, 5%)
                font-size: 1.25rem
                margin-right: 8px

            h5
                font-size: 1rem
                color: darken($accent, 5%)
                margin: 0 auto 10px
                +subtitle-style()

    .services-section
        display: flex
        justify-content: space-between
        margin: 80px 0 100px
        +breakpoint-mobile()
            margin: 80px 0 50px
        .left-header-wrapper
            width: 47.5%
            background-color: $light-background
            background: url('/assets/images/services-background.jpg')
            background-repeat: no-repeat
            background-size: auto   
            +breakpoint-mobile()
                width: 100%
                    
              
            .services-header
                position: -webkit-sticky
                position: sticky
                top: $navbar-height + 50px
                padding: 60px
                background-color: white
                margin: 40px 5% 40px 25%
                
                +breakpoint-tablet()
                    margin: 40px 10% 0 10%
                
                h6
                    +subtitle-style()
                    margin: 0 auto
                    font-size: 0.8rem
                    color: darken($accent, 15%)
                h2
                    +title-style()
                    margin: 0 auto
                    padding: 10px 0 15px
                p
                    font-size: 1.1rem
            
                
        .service-list
            width: 47.5%
            padding: 0 40px 0

            +breakpoint-mobile()
                width: 100%
            h3 
                +subtitle-style()
                font-size: 0.75rem
                text-align: center
                margin-bottom: 30px
                width: 70%
                
                +breakpoint-mobile()
                    width: 100%
                    margin-top: 75px
            
            hr 
                width: 67.5%
                display: block
                margin-left: 0

            .service
                width: 67.5%
                +breakpoint-tablet()
                    width: 100%
                transition: all .4s ease-in-out
                &:hover
                    -webkit-transform: scale(0.95)
                    -ms-transform: scale(0.95)
                    transform: scale(0.95)

                img
                    height: 100%
                    width: 100%
                .name-and-price
                    display: flex
                    justify-content: space-between
                    +subtitle-style()
                    padding-bottom: 20px
                    .price
                        letter-spacing: 0.125rem
                        color: darken($accent, 15%)
                p
                    font-size: 1.1rem
                button
                    +subtitle-style()
                

                    

            .service + .service
                margin-top: 75px


        +breakpoint-mobile()
            display: block


    .reviews-section
        background: url('/assets/images/reviews-background.png')
        background-repeat: no-repeat
        background-size: auto 
        .reviews
            width: max(60%, 450px) 
            padding: 0
            text-align: center
            padding: 125px 35px 70px
            font-weight: normal
            margin-top: 3%
            +breakpoint-mobile()
                margin-top: 10%
            .review-icon
                max-height: 25px
            .quote
                width: 100%
                padding: 25px 0 30px
                height: 175px
                font-family: $font-main
                font-size: 1.65rem
                font-weight: 400
            .carousel-indicators
                bottom: -25px
                +breakpoint-tablet()
                    bottom: -30px
                +breakpoint-mobile()
                    bottom: -35px
                li 
                    width: 10px
                    height: 10px
                    border-radius: 50%
                    border: solid 2px black
                    background-color: transparent
                .active
                    background-color: black
        .reviews-background
            pointer-events: none
        

   
  

// Booking Page
#booking-page-container

// Contact Page
#contact-page-container