// Home Page
#home-page-container
    .banner
        position: relative
        .banner-background
            width: 100%
            max-height: 800px
            pointer-events: none
        .banner-content
            position: absolute
            top: 25%
            left: 50%
            width: 100%
            -webkit-transform: translateX(-50%)
            transform: translateX(-50%)
            h1
                font-family: 'Dancing Script', cursive
                text-align: center
                font-size: 3.3rem
                margin-bottom: 48px
            .map-icon
                color: darken($accent, 5%)
                font-size: 1.25rem
                margin-right: 8px

            h5
                text-align: center
                margin: 0 auto 10px

    .about-panel
        height: 300px
        background-color: $background-alternate
        h2
            padding-top: 120px
            font-weight: bold
            text-align: center
            margin: 0 auto


    .services-section
        .left-header
            float: left
            height: 700px
            width: 50%
            background-color: $primary
        .service-list
            float: right
            height: 700px
            width: 50%
            background-color: $secondary
    .reviews-section
        clear: both
        height: 150px
        background-color: $light-background
    .social-media-section
        height: 300px
        background-color: $dark-background

// Booking Page
#booking-page-container

// Contact Page
#contact-page-container